<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {
            font-family: Arial, Helvetica, sans-serif,
                font-weigth: 200
        }

        table,
        td,
        th {
            border: 1px solid black;
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1>List of Users</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Position</th>
        </tr>
        {{#each data as |info| }}
        <tr>
            <td>{{info.name}}</td>
            <td>{{info.username}}</td>
            <td>{{info.email}}</td>
            <td>{{info.company.position}}</td>
        </tr>
        {{/each}}
    </table>
</body>

</html>